/* E.g. Style Guide: https://google.github.io/styleguide/htmlcssguide.xml */


/**
 * Your main styles at the top apply to the smallest screen/viewport,
 * e.g. width of 320px, or anything less than the following breakpoint.
 * Ordering the breakpoints in this way, smallest to biggest, is loosely
 * called a "mobile-first" approach to responsive design. The CSS targets
 * the "mobile" device sizes first, then overridden on larger devices.
 */

* { 
    box-sizing: border-box;
	width: 100%;
    text-align: center;
    background: #ffffff;
    color: #ffffff;
    padding: 3px;
    margin: 0;
    font-size: 20px;
    font-family: Arial;
}

header span.img {
    display: block;
}

ul {
    list-style-type: none;
}


.img {
    background-color: #5cd6d6;
    padding: 20px;
    margin-bottom: 10px;
}

nav, ul, li, footer{
    background-color: #d9d9d9;
    
}

li{
    padding: 10px;
}

li a {
    background-color: #d9d9d9;
    text-decoration: underline;
    vertical-align: middle;
}

article {
    background-color: #006699;
    margin-bottom: 10px;
}

article p {
    background-color: #006699;
    padding: 20px;
}

footer{
    padding: 20px;
}

footer p {
    background-color: #d9d9d9;
}

/**
 * This is our first breakpoint!
 * If you increase the viewport (your browser window) size from 479px to 480px,
 * (e.g. depending on the mobile phone size, perhaps changing the orientation
 * of the phone to horizontal will trigger this breakpoint).
 * Note: there is no "upper limit" in this breakpoint, so any styles in other
 * following breakpoints after this could override this one.
 */

@media screen and (min-width: 480px) {

    /**
     * Tip! Since we need floating columns, we can apply the floats here
     * and also the self-clearing container trick.
     * Incase you're wondering `::after` is a pseudo element:
     * http://www.w3schools.com/CSSref/sel_after.asp
     */
    section::after {
        clear: both;
        content: '';
        display: table;
        height: 0;
        visibility: hidden;
    }

    section article {
        float: left;
    }

    /* Re-style here... */

    .img {
        background-color: #5cd6d6;
        padding: 20px;
        margin-bottom: 10px;
    }

    nav, ul, li, footer{
        background-color: #d9d9d9;
        
    }

    nav{
        margin-bottom: 10px;
    }

    li{
        padding: 10px;
    }

    li a {
        background-color: #d9d9d9;
        text-decoration: underline;
        vertical-align: middle;
    }

    article {
        background-color: #006699;
        width: 49%;

    }

    #col-1{
        margin-right: 2px;
    }

    #col-2{
        margin-left: 2px;
        float: right;
    }

    article p {
        background-color: #006699;
    }

    footer{
        padding: 20px;
    }

    footer p {
        background-color: #d9d9d9;
    }

}


/* We're skipping a lot of possible breakpoints here ... */


/**
 * At 1280px viewport width, any styles declared in this breakpoint will
 * override previous styles with matching signatures.
 */

@media screen and (min-width: 1280px) {
    /* Re-style here, if necessary! You may want to use the same technique
	 * used in section::after for the header*/
    section::after, .img::after {
        clear: both;
        content: '';
        display: table;
        height: 0;
        visibility: hidden;
    }

    .img, section article {
        float: left;
    }

    .img {
        background-color: #5cd6d6;
        padding: 20px;
        width: 20%;
        margin-right: 5px;
    }

    #menu{
        width: 79%;
        margin-bottom: 10px;
        float: right;
    }

    nav, ul, li, footer{
        background-color: #d9d9d9;
        
    }

    ul li{
        float: right;
        display: inline;
        padding: 15px;
        width: 33%;
    }

    ul li a {
        background-color: #d9d9d9;
        text-decoration: underline;
        vertical-align: middle;
    }

    article {
        background-color: #006699;
        width: 49.5%;
        padding: 200px;

    }

    #col-1{
        margin-right: 2px;
    }

    #col-2{
        margin-left: 2px;
        float: right;
    }

    article p {
        background-color: #006699;
    }

    footer{
        padding: 20px;
    }

    footer p {
        background-color: #d9d9d9;
    }
}
